<p>Apakah anda ingin menghapus nilai dari : </p>,
<span th:text="${nilai.siswa.first_name}"></span><br>
<button class="btn btn-danger" th:value="${nilai.id}" onclick="deleteData(this.value)">Delete</button>