<form th:action="@{~/nilai/save}" method="POST" th:object="${nilai}">
    <input type="hidden" th:field="*{id}">
    Siswa : <select class="form-select" aria-label="Default select example" th:field="*{siswaId}">
                <option th:each="siswa : ${siswas}" th:value="${siswa.id}" th:text="${siswa.first_name}"></option><br>
            </select>
    Mapel : <select class="form-select" aria-label="Default select example" th:field="*{mapelId}">
                <option th:each="mapel : ${mapels}" th:value="${mapel.id}" th:text="${mapel.name}"></option><br>
            </select>
    <input type="text" th:field="*{nilai}"><br>
    <input type="submit" value="Save" class="btn btn-success">
</form>