<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <meta charset="UTF-8">
        <title>Nilai Page</title>
    </head>
    <body>
        <section layout:fragment="content">
            <button onclick="insert()" class="btn btn-success">Tambah</button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Siswa</th>
                        <th>Nama Mata Pelajaran</th>
                        <th>Nilai</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="nilai, iter:${nilais}">
                        <td th:text="${iter.count}"></td>
                        <td th:text="${nilai.siswa.first_name}"></td>
                        <td th:text="${nilai.mapel.name}"></td>
                        <td th:text="${nilai.nilai}"></td>
                        <td>
                            <button th:value="${nilai.id}" onclick="update(this.value)" class="btn btn-primary">Update</button>
                            <button th:value="${nilai.id}" onclick="deleteForm(this.value)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <script>
                function insert(){
                    $.ajax({
                        url: '/nilai/form',
                        type: 'get',
                        contentType: 'html',
                        success: function(form){
                            $('#myModal').modal('show')
                            $('.modal-title').html("Nilai Form")
                            $('.modal-body').html(form);
                        }
                    })
                }

                function update(id){
                    $.ajax({
                        url: '/nilai/update/' + id,
                        type: 'get',
                        contentType: 'html',
                        success: function(form) {
                            $('#myModal').modal('show')
                            $('.modal-title').html("Update Nilai")
                            $('.modal-body').html(form);
                        }
                    })
                }

                function deleteForm(id){
                    $.ajax({
                    url: '/nilai/deleteForm/' + id,
                    type: 'get',
                    contentType: 'html',
                        success: function(form) {
                            $('#myModal').modal('show')
                            $('.modal-title').html("Delete Nilai")
                            $('.modal-body').html(form);
                        }
                    })
                }

                function deleteData(id){
                    $.ajax({
                    url: '/nilai/delete/' + id,
                    type: 'get',
                    contentType: 'html',
                        success: function(form) {
                            $('#myModal').modal('hide')
                            alert("Data Terhapus");
                            location.reload();
                        }
                    })
                }
            </script>
        </section>
    </body>
</html>