First Name : <span th:text="${siswa.first_name}"></span><br>
Last Name : <span th:text="${siswa.last_name}"></span><br>
Gender : <span th:text="${siswa.gender}"></span><br>
Address : <span th:text="${siswa.address}"></span>
<hr>
<h6>Nilai Siswa</h6>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Nama Matakuliah</th>
            <th>Nilai</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="nilai, iter:${nilais}">
            <td th:text="${iter.count}"></td>
            <td th:text="${nilai.mapel.name}"></td>
            <td th:text="${nilai.nilai}"></td>
        </tr>
    </tbody>
</table>
Nilai Rata - Rata : <span th:text="${rataRata}"></span>