<form th:action="@{~/siswa/save}" method="POST" th:object="${siswa}">
    <input type="hidden" th:field="*{id}">
    First Name : <input type="text" th:field="*{first_name}"><br>
    Last Name : <input type="text" th:field="*{last_name}"><br>
    Gender : <input type="text" th:field="*{gender}"><br>
    Address: <input type="text" th:field="*{address}"><br>
    <input type="submit" value="Save" class="btn btn-success">
</form>