<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <meta charset="UTF-8">
        <title>Siswa Page</title>
    </head>
    <body>
        <section layout:fragment="content">
            <div th:if="${validationErrors != null}" class="p-3 mb-2 bg-warning text-dark">
                <ul>
                    <li th:each="error : ${validationErrors}" th:text="${error.defaultMessage}"></li>
                </ul>
            </div>
            <div th:if="${duplicateError != null}" class="p-3 mb-2 bg-warning text-dark">
                <span th:text="${duplicateError}"></span>
            </div>
            <button onclick="insert()" class="btn btn-success">Tambah</button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="siswa, iter:${siswas}">
                        <td th:text="${iter.count}"></td>
                        <td th:text="${siswa.first_name}"></td>
                        <td th:text="${siswa.last_name}"></td>
                        <td>
                            <button th:value="${siswa.id}" onclick="detail(this.value)" class="btn btn-warning">Details</button>
                            <button th:value="${siswa.id}" onclick="update(this.value)" class="btn btn-primary">Update</button>
                            <button th:value="${siswa.id}" onclick="deleteForm(this.value)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <script>
                function insert(){
                    $.ajax({
                        url: '/siswa/form',
                        type: 'get',
                        contentType: 'html',
                        success: function(form){
                            $('#myModal').modal('show')
                            $('.modal-title').html("Siswa Form")
                            $('.modal-body').html(form);
                        }
                    })
                }

                function detail(id){
                    $.ajax({
                    url: 'siswa/' + id,
                    type: 'get',
                    contentType: 'html',
                        success: function(form) {
                            $('#myModal').modal('show')
                            $('.modal-title').html("Siswa Detail")
                            $('.modal-body').html(form);
                        }
                    })
                }

                function update(id){
                    $.ajax({
                        url: '/siswa/update/' + id,
                        type: 'get',
                        contentType: 'html',
                        success: function(form) {
                            $('#myModal').modal('show')
                            $('.modal-title').html("Update Siswa")
                            $('.modal-body').html(form);
                        }
                    })
                }

                function deleteForm(id){
                    $.ajax({
                    url: '/siswa/deleteForm/' + id,
                    type: 'get',
                    contentType: 'html',
                        success: function(form) {
                            $('#myModal').modal('show')
                            $('.modal-title').html("Delete Siswa")
                            $('.modal-body').html(form);
                        }
                    })
                }

                function deleteData(id){
                    $.ajax({
                    url: '/siswa/delete/' + id,
                    type: 'get',
                    contentType: 'html',
                        success: function(form) {
                            $('#myModal').modal('hide')
                            alert("Data Terhapus");
                            location.reload();
                        }
                    })
                }
            </script>
        </section>
    </body>
</html>