<form  th:action="@{~/mapel/save}" method="POST" th:object="${mapel}">
    <input type="hidden" th:field="*{id}">
    Nama Mapel : <input type="text" th:field="*{name}"><br>
    Duration: <input type="text" th:field="*{duration}"><br>
    <input type="submit" value="Save" class="btn btn-success">
</form>