<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <meta charset="UTF-8">
        <title>Mata Pelajaran Page</title>
    </head>
    <body>
        <section layout:fragment="content">
            <div th:if="${validationErrors != null}" class="p-3 mb-2 bg-warning text-dark">
                <ul>
                    <li th:each="error : ${validationErrors}" th:text="${error.defaultMessage}"></li>
                </ul>
            </div>
            <div th:if="${duplicateError != null}" class="p-3 mb-2 bg-warning text-dark">
                <span th:text="${duplicateError}"></span>
            </div>
            <button class="btn btn-success" onclick="insert()">Tambah</button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Mapel</th>
                        <th>Durasi (Hour)</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mapel, iter:${mapels}">
                        <td th:text="${iter.count}"></td>
                        <td th:text="${mapel.name}"></td>
                        <td th:text="${mapel.duration}"></td>
                        <td>
                            <button th:value="${mapel.id}" onclick="update(this.value)" class="btn btn-primary">Update</button>
                            <button th:value="${mapel.id}" onclick="deleteForm(this.value)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <script>
                function insert(){
                    $.ajax({
                        url: '/mapel/form',
                        type: 'get',
                        contentType: 'html',
                        success: function(form){
                            $('#myModal').modal('show')
                            $('.modal-title').html("Mapel Form")
                            $('.modal-body').html(form);
                        }
                    })
                }

                function update(id){
                    $.ajax({
                        url: '/mapel/update/' + id,
                        type: 'get',
                        contentType: 'html',
                        success: function(form) {
                            $('#myModal').modal('show')
                            $('.modal-title').html("Update Mapel")
                            $('.modal-body').html(form);
                        }
                    })
                }

                function deleteForm(id){
                    $.ajax({
                    url: '/mapel/deleteForm/' + id,
                    type: 'get',
                    contentType: 'html',
                        success: function(form) {
                            $('#myModal').modal('show')
                            $('.modal-title').html("Delete Mapel")
                            $('.modal-body').html(form);
                        }
                    })
                }

                function deleteData(id){
                    $.ajax({
                    url: '/mapel/delete/' + id,
                    type: 'get',
                    contentType: 'html',
                        success: function(form) {
                            $('#myModal').modal('hide')
                            alert("Data Terhapus");
                            location.reload();
                        }
                    })
                }
            </script>
        </section>
    </body>
</html>